{% extends 'frame/base.html' %}


{% block container %}
  <div>
    <div class="mt-4">
      <form action="{{ url_for('domain.update', id=domain.id) }}" method="POST">
        <div>
          {{ form.hidden_tag() }}
        </div>

        <div class="mt-3">
          {{ form.domain.label(class="form-label") }}
          {{ form.domain(required='', class="form-control") }}
        </div>

        <div class="mt-3">
          {{ form.description.label(class="form-label") }}
          {{ form.description(class="form-control") }}
        </div>

        <div class="mt-3">
          {{ form.url.label(class="form-label") }}
          {{ form.url(class="form-control") }}
        </div>

        <div class="mt-3">
          {{ form.rank.label(class="form-label") }}
          {{ form.rank(class="form-control") }}
        </div>

        <div class="mt-3">
          {{ form.is_hide.label(class="form-label") }}
          {{ form.is_hide(class="form-check-input", type="checkbox") }}
        </div>

        <div class="mt-3">
          <button id="btn" class="btn btn-primary btn-block" type="submit" style="margin-bottom: 30px;">
            保存
          </button>
        </div>

      </form>
    </div>
  </div>
{% endblock %}


{% block scripts %}
  {{ super() }}
{% endblock %}
