{% extends 'base.html' %}


{% block styles %}
  {{ super() }}
  <style>
      .tag {
          min-width: 31px;
          font-size: 11px;
          text-decoration: none;
          background: #fbfbfb;
          border: none;
          border-radius: 2px;
          bottom: 8px;
          box-shadow: 0 0 2px rgba(0, 0, 0, .5);
          color: unset;
          height: 20px;
          line-height: 20px;
          padding: 0 4px;
          margin-left: 5px;
      }

      .domain-list {
          background-color: #fff;
          border-radius: 1rem;
          box-shadow: 0 3px 8px rgba(0, 0, 0, .24);
          box-sizing: border-box;
          padding: 25px 30px;
          transition: background-color .5s;
          margin: 20px 0 15px 0;
      }

      .domain-list-item {
          border-bottom: 1px solid #dee2e6;
          padding: 8px 16px;
          min-height: 58px;
      }
  </style>

{% endblock %}

{% block content %}
  <div class="domain-list">
    <ul class="flex flex-col p-0">
      {% for domain in domain_list %}
        <li class="domain-list-item text-pretty hover:text-balance">
          <div class="text-[14px] font-[700] text-[#555]">
            <a href="{{ domain.url or '' }}">{{ domain.name }}</a>
          </div>
          <div class="flex justify-between">
            <div class="text-[12px] text-[#858585] border-gray-300">
              {{ domain.description or '' }}
            </div>
            <div class="flex">
              {% for tag in domain.tags %}
                <a class="tag" href="{{ tag.tag_url }}"> {{ tag.name }}</a>
              {% endfor %}
            </div>
          </div>
        </li>
      {% endfor %}
    </ul>
    <div class="h-[20px]"></div>
  </div>
{% endblock %}


