{% extends "base.html.j2" %}

{% block styles %}
  {{ super() }}
  <link rel="stylesheet" href="https://s4.zstatic.net/ajax/libs/viewerjs/1.11.7/viewer.min.css"
        integrity="sha512-vRbASHFS0JiM4xwX/iqr9mrD/pXGnOP2CLdmXSSNAjLdgQVFyt4qI+BIoUW7/81uSuKRj0cWv3Dov8vVQOTHLw=="
        crossorigin="anonymous" referrerpolicy="no-referrer"/>
{% endblock styles %}

{% block scripts %}
  {{ super() }}

  <script src="https://s4.zstatic.net/ajax/libs/viewerjs/1.11.7/viewer.min.js"
          integrity="sha512-lZD0JiwhtP4UkFD1mc96NiTZ14L7MjyX5Khk8PMxJszXMLvu7kjq1sp4bb0tcL6MY+/4sIuiUxubOqoueHrW4w=="
          crossorigin="anonymous" referrerpolicy="no-referrer"></script>

  <script>
    for (const avatar of document.getElementsByClassName('avatar')) {
      const viewer = new Viewer(avatar, {
        inline: false,
        viewed() {
          viewer.zoomTo(1);
        },
      });
    }
  </script>
{% endblock scripts %}

{% block content %}
  <div class="domain-list flex flex-col sm:flex-row px-[3px] sm:px-[30px] py-[20px] sm:py-[25px] mx-[5px]">
    <div class="flex-1">
      {% if not domain_list %}
        <div class="flex justify-center items-center h-full">
          <div class="text-center text-[14px] text-[#787878]">暂无数据</div>
        </div>
      {% else %}
        <ul class="flex flex-col p-0">
          {% for domain in domain_list %}
            <li class="domain-list-item text-pretty relative flex">
              <div class="mr-[10px] min-w-[40px] min-h-[40px]">
                {% if domain.logo_url %}
                  <img class="avatar" src="{{ domain.logo_url }}" alt="{{ domain.name }}" width="40" height="40"/>
                {% else %}
                  <div class="avatar"></div>
                {% endif %}
              </div>
              <div>
                <div class="text-[14px] font-[700] text-[#555]">
                  <a href="{{ domain.url }}">{{ domain.name }}</a>
                </div>
                <div class="text-[12px] text-[#787878] border-gray-300 mb-[8px]">
                  <p>
                    {% if domain.description %}
                      {{ domain.description | markdown_to_html | safe }}
                    {% endif %}
                  </p>
                  {% if domain.selling_price %}
                    <span class="mr-1">售价：{{ domain.selling_price }}</span>
                  {% endif %}
                  {% if domain.renewal_price %}
                    <span class="mr-1">续费：{{ domain.renewal_price }}</span>
                  {% endif %}
                  {% if domain.transaction_method %}
                    <span class="mr-1">交易方式：{{ domain.transaction_method }}</span>
                  {% endif %}
                </div>
                <div class="flex absolute absolute bottom-[8px] right-[13px]">
                  <div class="justify-end flex flex-1 ml-[30px]">
                    {% for tag in domain.tags %}<a class="tag" href="{{ tag.tag_url }}">{{ tag.name }}</a>{% endfor %}
                  </div>
                </div>
              </div>
            </li>
          {% endfor %}
        </ul>
      {% endif %}
      <div class="h-[20px]"></div>
    </div>
    <div class="ml-[20px] sm:w-[200px]">
      <div class="flex">
        <div>
          <img class="avatar" src="{{ config.user_avatar_url }}" alt="avatar" width="40" height="40"/>
        </div>
        <div class="flex flex-col ml-[16px]">
          <div class="text-[16px] text-[#555]">{{ config.user_name }}</div>
          <div class="flex">
            <div>
              <a href="{{ url_for('admin.index') }}">
                <img src="{{ url_for('static', filename='setting-two.svg') }}" width="16" height="16" alt="icon"/>
              </a>
            </div>
            <div class="ml-[6px]">
              <a href="{{ url_for('user.logout') }}">
                <img src="{{ url_for('static', filename='logout.svg') }}" width="16" height="16" alt="icon"/>
              </a>
            </div>
          </div>
        </div>
      </div>

      <div class="description">{{ config.user_comment | markdown_to_html | safe }}</div>
    </div>
  </div>
{% endblock content %}