<script id="site" type="text/x-template">
  <div>
    <el-form :model="formData" label-width="auto" style="max-width: 600px">
      <el-form-item label="网站标题">
        <el-input v-model="formData.site_title"/>
      </el-form-item>
      <el-form-item label="图标URL">
        <el-input v-model="formData.site_icon_url"/>
      </el-form-item>
      <el-form-item label="品牌名">
        <el-input v-model="formData.site_brand"/>
      </el-form-item>
      <el-form-item label="beta">
        <el-input v-model="formData.site_beta"/>
      </el-form-item>
      <el-form-item label="Copyright">
        <el-input v-model="formData.site_copyright"/>
      </el-form-item>
      <el-form-item label="用户名">
        <el-input v-model="formData.user_name"/>
      </el-form-item>
      <el-form-item label="用户头像URL">
        <el-input v-model="formData.user_avatar_url"/>
      </el-form-item>
      <el-form-item label="用户备注">
        <el-input v-model="formData.user_comment" :rows="10" type="textarea" placeholder="请输入："/>
      </el-form-item>
      <el-form-item>
        <el-button type="primary" @click="handleSubmit">保存</el-button>
      </el-form-item>
    </el-form>
  </div>
</script>

<script>
  const site_component = {
    template: `#site`,
    delimiters: ['@{', '}'],
    setup() {
      const formData = reactive({
        site_title: '',
        site_icon_url: '',
        site_brand: '',
        site_beta: '',
        site_copyright: '',
      });

      onMounted(async () => {
        const {
          config
        } = await getConfig();
        formData.site_title = config['site_title'];
        formData.site_icon_url = config['site_icon_url'];
        formData.site_brand = config['site_brand'];
        formData.site_beta = config['site_beta'];
        formData.site_copyright = config['site_copyright'];
        formData.user_name = config['user_name'];
        formData.user_avatar_url = config['user_avatar_url'];
        formData.user_comment = config['user_comment'];
      });

      async function handleSubmit() {
        await saveConfig(JSON.stringify({
          config: formData
        }));
        ElMessage({
          message: '已保存！',
          type: 'success'
        });
      }

      return {
        formData,
        handleSubmit
      };
    },
  };

  routes.push({
    path: '/site',
    name: 'site',
    title: '网站信息',
    component: site_component,
  });
</script>