<script id="tag" type="text/x-template">
  <div>
    <el-button type="primary" class="mb-1" @click="handleCreate">添加标签</el-button>
    <el-table :data="tableData" style="width: 100%" height="666">
      <el-table-column fixed prop="name" label="标签" width="150"></el-table-column>
      <el-table-column prop="url_path_name" label="URL路径名" width="150"></el-table-column>
      <el-table-column prop="is_hide" label="是否隐藏" width="120">
        <template #default="scope">
          @{ scope.row.is_hide ? '已隐藏' : '列表可见👀'}
        </template>
      </el-table-column>
      <el-table-column prop="rank" label="排序" width="80"></el-table-column>
      <el-table-column prop="display_created_at" label="创建时间" width="180"></el-table-column>
      <el-table-column prop="display_updated_at" label="更新时间" width="180"></el-table-column>
      <el-table-column fixed="right" label="操作" width="100">
        <template #default="scope">
          <el-button link type="primary" size="small" @click="handleEdit(scope.row)">编辑</el-button>
          <el-button link type="danger" size="small" @click="handleDelete(scope.row)">删除</el-button>
        </template>
      </el-table-column>
    </el-table>

    <!--新增-->
    <el-dialog v-model="isCreateDialogVisible" title="新增标签" width="30%" :beforeClose="handleCreateDialogClose">
      <el-form :model="createFormData" label-width="auto" label-position="right">
        <el-form-item label="标签">
          <el-input v-model="createFormData.name" placeholder="example.com"/>
        </el-form-item>
        <el-form-item label="URL路径名">
          <el-input v-model="createFormData.url_path_name" placeholder="example.com"/>
        </el-form-item>
        <el-form-item label="是否隐藏">
          <el-switch v-model="createFormData.is_hide"/>
        </el-form-item>
        <el-form-item label="排序">
          <el-input-number v-model="createFormData.rank"/>
        </el-form-item>
        <el-divider border-style="dashed"></el-divider>
      </el-form>
      <template #footer>
      <span class="dialog-footer">
        <el-button @click="handleCreateDialogCancel">取消</el-button>
        <el-button type="primary" @click="handleCreateDialogSubmit">提交</el-button>
      </span>
      </template>
    </el-dialog>

    <!--编辑-->
    <el-dialog v-model="isEditDialogVisible" title="编辑标签" width="30%" :beforeClose="handleEditDialogClose">
      <el-form :model="editFormData" label-width="auto" label-position="right">
        <el-form-item label="标签">
          <el-input v-model="editFormData.name" placeholder="example.com"/>
        </el-form-item>
        <el-form-item label="URL路径名">
          <el-input v-model="editFormData.url_path_name" placeholder="example.com"/>
        </el-form-item>
        <el-form-item label="是否隐藏">
          <el-switch v-model="editFormData.is_hide"/>
        </el-form-item>
        <el-form-item label="排序">
          <el-input-number v-model="editFormData.rank"/>
        </el-form-item>
        <el-divider border-style="dashed"></el-divider>
      </el-form>
      <template #footer>
      <span class="dialog-footer">
        <el-button @click="handleEditDialogCancel">取消</el-button>
        <el-button type="primary" @click="handleEditDialogSubmit">保存</el-button>
      </span>
      </template>
    </el-dialog>

    <!--删除-->
    <el-dialog v-model="isDeleteDialogVisible" title="确定要删除吗？" width="30%" :beforeClose="handleDeleteDialogClose">
      <el-form :model="deleteFormData" :disabled="true" label-width="auto" label-position="right">
        <el-form-item label="标签">
          <el-input v-model="deleteFormData.name"/>
        </el-form-item>
        <el-form-item label="URL路径名">
          <el-input v-model="deleteFormData.url_path_name" placeholder="example.com"/>
        </el-form-item>
        <el-form-item label="是否隐藏">
          <el-switch v-model="deleteFormData.is_hide"/>
        </el-form-item>
        <el-form-item label="排序">
          <el-input-number v-model="deleteFormData.rank"/>
        </el-form-item>
        <el-divider border-style="dashed"></el-divider>
      </el-form>
      <template #footer>
      <span class="dialog-footer">
        <el-button @click="handleDeleteDialogCancel">取消</el-button>
        <el-button type="primary" @click="handleDeleteDialogSubmit">确定</el-button>
      </span>
      </template>
    </el-dialog>
  </div>
</script>

<script>
  const tag_component = {
    template: `#tag`,
    delimiters: ['@{', '}'],
    setup() {
      onMounted(async () => {
        await refreshTableData();
      });

      /* 列表 */
      const tableData = ref([]);

      async function refreshTableData() {
        const { tag_list } = await getTagList();
        tableData.value = tag_list;
      }

      /* 新增 */
      const createFormData = ref({
        name: '',
        url_path_name: '',
        rank: 0,
        is_hide: false,
      });
      const isCreateDialogVisible = ref(false);

      async function handleCreate() {
        isCreateDialogVisible.value = true;
      }

      async function handleCreateDialogClose(done) {
        await handleCreateDialogCancel();
        done();
      }

      async function handleCreateDialogCancel() {
        isCreateDialogVisible.value = false;
        createFormData.value = {};
      }

      async function handleCreateDialogSubmit() {
        await createTag(JSON.stringify({ tag: createFormData.value }));
        await refreshTableData();
        ElMessage({ message: '已新增！', type: 'success' });
        await handleCreateDialogCancel();
      }

      /* 编辑 */
      const editFormData = ref({
        id: 0,
        name: '',
        url_path_name: '',
        rank: 0,
        is_hide: false,
      });
      const isEditDialogVisible = ref(false);

      async function handleEdit(tableRowData) {
        editFormData.value = Object.assign({}, tableRowData);
        isEditDialogVisible.value = true;
      }

      async function handleEditDialogClose(done) {
        await handleEditDialogCancel();
        done();
      }

      async function handleEditDialogCancel() {
        isEditDialogVisible.value = false;
        editFormData.value = {};
      }

      async function handleEditDialogSubmit() {
        await updateTag(
          editFormData.value.id,
          JSON.stringify({ tag: editFormData.value })
        );
        await refreshTableData();
        ElMessage({ message: '已保存！', type: 'success' });
        await handleEditDialogCancel();
      }

      /* 删除*/
      const deleteFormData = ref({
        id: 0,
        name: '',
        url_path_name: '',
        rank: 0,
        is_hide: false,
      });
      const isDeleteDialogVisible = ref(false);

      async function handleDelete(tableRowData) {
        deleteFormData.value = Object.assign({}, tableRowData);
        isDeleteDialogVisible.value = true;
      }

      async function handleDeleteDialogClose(done) {
        await handleDeleteDialogCancel();
        done();
      }

      async function handleDeleteDialogCancel() {
        isDeleteDialogVisible.value = false;
        deleteFormData.value = {};
      }

      async function handleDeleteDialogSubmit() {
        await deleteTag(deleteFormData.value.id);
        await refreshTableData();
        ElMessage({ message: '删除成功！', type: 'success' });
        await handleDeleteDialogCancel();
      }

      return {
        tableData,

        createFormData,
        isCreateDialogVisible,
        handleCreate,
        handleCreateDialogClose,
        handleCreateDialogCancel,
        handleCreateDialogSubmit,

        editFormData,
        isEditDialogVisible,
        handleEdit,
        handleEditDialogClose,
        handleEditDialogCancel,
        handleEditDialogSubmit,

        deleteFormData,
        isDeleteDialogVisible,
        handleDelete,
        handleDeleteDialogClose,
        handleDeleteDialogCancel,
        handleDeleteDialogSubmit,
      };
    },
  };

  routes.push({
    path: '/tag',
    name: 'tag',
    title: '标签',
    component: tag_component,
  });
</script>