<script id="me" type="text/x-template">
  <div>
    <el-form :model="formData" label-width="auto" style="max-width: 600px">
      <el-form-item label="登陆邮箱">
        <el-input v-model="formData.email" disabled/>
      </el-form-item>
      <el-form-item label="注册时间">
        <el-input v-model="formData.display_created_at" disabled/>
      </el-form-item>
    </el-form>
  </div>
</script>

<script>
  const me_component = {
    template: `#me`,
    delimiters: ['@{', '}'],
    setup() {
      const formData = reactive({
        email: '',
        display_created_at: '',
        avatar_url: '',
        comment: '',
      });

      onMounted(async () => {
        const {user} = await getMyInfo();
        formData.email = user['email'];
        formData.display_created_at = user['display_created_at'];
      });

      return {formData};
    },
  };

  routes.push({
    path: '/user',
    name: 'user',
    title: '管理员信息',
    component: me_component,
  });
</script>